<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue v-for with object</title>
  <style>
    #app{ margin-left: 10px; font-size: 1.5em; }
    #app div{ margin: 1em 0; }
  </style>
</head>
<body>

  <div id="app">

    <ul class="demo">
      <li v-for="value in object">
        {{ value }}
      </li>
    </ul>

    <hr>

    <ul class="demo">
      <li v-for="(value, key) in object">{{ key }} : {{ value }} </li>
    </ul>

    <hr>

    <ul class="demo">
      <li v-for="(value, key, index) in object">
        {{ index }}. {{ key }} : {{ value }}
      </li>
    </ul>


  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
  <script>

    new Vue({
      el: '#app',
      data: {
        object: {
          FirstName: 'John',
          LastName: 'Doe',
          Age: 30
        }
      }
    });

  </script>


</body>
</html>