<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue v-for with filtered</title>
  <style>
    #app div{ margin: 1em 0; }
    #app span{ font-size: 22px; margin-right: 10px; }
  </style>
</head>
<body>

  <div id="app">
    <div><span v-for="n in numbers">{{ n }}</span></div>
    <div><span v-for="n in evenNumbers">{{ n }}</span></div>
    <hr>
    <div><span v-for="n in sortedNumber">{{ n }}</span></div>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0/vue.min.js"></script>
  <script>

    new Vue({
      el: '#app',
      data: {
        numbers: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ],
        numbers2: [2, 11, 6, 15, 8, 10, 5, 4]
      },
      computed: {
        evenNumbers: function () {
          return this.numbers.filter(function (number) {
            return number % 2 === 0;
          })
        },
        sortedNumber: function(){
          return this.numbers2.sort(function(a, b){ return a - b; });
        }
      }
    });

  </script>


</body>
</html>