<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Document</title>

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>

<template id="panel-template">
  <div class="panel panel-default">
    <div class="panel-heading">Task Table: {{name}},  {{ rows.length }} items.</div>
    <table class="table">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="name">Task Name</th>
          <th class="duration">Duration</th>
          <th class="status">Status</th>
          <th class="edit"></th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="d in rows">
          <th class="number" scope="row">{{ $index + 1 }}</th>
          <td>
            <div>{{ d.name }}</div>
            <input v-show="d.isEdit" type="text" v-model="d.name">
          </td>
          <td class="duration">
            <div>{{ d.duration }}</div>
            <input v-show="d.isEdit" type="text" v-model="d.duration">
          </td>
          <td  class="status">
            <div>{{ (d.open) ? 'Open' : 'Closed' }}</div>
            <input v-show="d.isEdit" type="checkbox" v-model="d.open">
          </td>
          <td class="edit">
            <button @click="edit(d.id)" class="btn btn-primary">{{ (d.isEdit) ? '完成' : '編輯' }}</button>
            <button @click="del(d.id)" class="btn btn-danger">刪除</button>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <!-- 新增用 -->
        <tr>
          <th class="number" scope="row">Add</th>
          <td>
            <input type="text" v-model="newRows.name">
          </td>
          <td class="duration">
            <input type="text" v-model="newRows.duration">
          </td>
          <td  class="status">
            <div>Open?</div>
            <input type="checkbox" v-model="newRows.open">
          </td>
          <td class="edit">
            <button @click="create" class="btn btn-success">加入</button>
            <button @click="reset" class="btn btn-warning">重置</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>


  <div id="vue-app" style="margin: 10px;">

    <ul class="nav nav-tabs">
      <li @click.prevent="setCurrView('table1')"
          v-bind:class="{'active': (currView === 'table1')}"><a href="#">Table 1</a></li>
      <li @click.prevent="setCurrView('table2')"
          v-bind:class="{'active': (currView === 'table2')}"><a href="#">Table 2</a></li>
      <li @click.prevent="setCurrView('table3')"
          v-bind:class="{'active': (currView === 'table3')}"><a href="#">Table 3</a></li>
    </ul>

    <panel v-show="(currView === 'table1')" name="Table1" :rows="row1" generator="VyUMH45zZ"></panel>
    <panel v-show="(currView === 'table2')" name="Table2" :rows="row2" generator="4JQVrE5z-"></panel>
    <panel v-show="(currView === 'table3')" name="Table3" :rows="row3" generator="41fUSN5G-"></panel>

  </div>

  <script src="scripts/vue.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

  <script>

  // Object Constructor.
  var newItem = function(){
    this.id = '';
    this.name = '';
    this.duration = 0;
    this.open = false;
    this.isEdit = false;
  };

  // generator: http://beta.json-generator.com/41fUSN5G-

  // task list1: http://beta.json-generator.com/api/json/get/VyUMH45zZ
  // task list2: http://beta.json-generator.com/api/json/get/4JQVrE5z-
  // task list3: http://beta.json-generator.com/api/json/get/41fUSN5G-

  Vue.component('panel', {
    template: '#panel-template',
    props:{
      name: String,
      rows: {
        type: Array,
        default: function(){ return []; }
      },
      generator: String
    },
    methods: {
      fetchData: function(){
        var _this = this;
        console.log('fetchData Start');

        // ajax via jQuery
        $.get('http://beta.json-generator.com/api/json/get/' + _this.generator , function(data){
          console.log( _this.name + 'fetchData Get');
          // _this.$set('rows', data);
          _this.rows = data;
        });
      },
      reset: function(){
        this.newRows = new newItem();
        return;
      },
      create: function(){
        var check = true;
        var duration = parseInt(this.newRows.duration, 10);

        if( this.newRows.name === '' ){
          check = false;
          alert( 'name 不可留白' );
        }

        if( isNaN(duration) ){
          check = false;
          alert( 'duration 有誤' );
        }

        if( check ){
          this.newRows.id = new Date().getTime().toString();
          this.rows.push( this.newRows );
          this.newRows = new newItem();
        }

        return;
      },
      edit: function(id){
        var obj = this.rows.find(function(rows){ return rows.id === id; });
        obj.isEdit = !obj.isEdit;
        return;
      },
      del: function(id){
        var idx = this.rows.findIndex(function(rows){ return rows.id === id; });
        if( idx > -1 ) this.rows.splice(idx, 1);
        return;
      }
    },
    data: function(){
      var _data = {
        newRows: new newItem(),
      };
      return _data;
    },
    watch:{
      rows:{
        handler: function (newValue, oldValue) {
          console.log('rows -- new: %s, old: %s', newValue, oldValue)
        },
        deep: true
      }
    },
    ready: function(){
      this.fetchData();
    }
  });

  var app = new Vue({
    el: '#vue-app',
    data:{
      currView: 'table1',
    },
    methods:{
      setCurrView: function(name){
        this.currView = name;
        return;
      }
    }
  });
  </script>

</body>
</html>