<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Document</title>

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>

  <div id="vue-app">

    <div class="panel panel-default">
      <div class="panel-heading">Panel heading</div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Task Name</th>
            <th>Duration</th>
            <th>Status</th>
            <th class="select">Select</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="d in rows">
            <th scope="row">{{ $index + 1 }}</th>
            <td>{{ d.name }}</td>
            <td>{{ d.duration }}</td>
            <td>{{ (d.open) ? 'Open' : 'Closed' }}</td>
            <td class="select"><input type="checkbox" value="{{ d.id }}" v-model="checked"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <pre>{{ checked | json }}</pre>

  </div>

  <script src="scripts/vue.js"></script>
  <script>
  var app = new Vue({
    el: '#vue-app',
    data: {
      checked: [],
      rows: [
      {
        id: '_001',
        name: 'Task A',
        duration: 4,
        open: false
      },
      {
        id: '_002',
        name: 'Task B',
        duration: 2,
        open: true
      },
      {
        id: '_003',
        name: 'Task C',
        duration: 10,
        open: true
      }],
    }
  });
  </script>

</body>
</html>