<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue Directives</title>
  <style>
    #app{ margin: 2em; font-size: 1.5em;  }
    #app div{ margin: 1em 0;  }
    label, button{ margin-right: 20px;  }
  </style>
</head>
<body>

  <div id="app">
    <h1 v-if="greeting">greeting!</h1>
    <h1 v-if="greeting2">greeting 2!</h1>

    <div>
      <!-- full syntax -->
      <a v-bind:href="url">url</a>

      <!-- shorthand -->
      <a :href="url">url</a>
    </div>

    <hr>

    <div>
      <label>
        <input type="radio" value="1" v-model="conds"> actived
      </label>

      <label>
        <input type="radio" value="0" v-model="conds"> disabled
      </label>
      <div>someDynamicCondition: {{ someDynamicCondition }}</div>

      <!-- full syntax -->
      <button v-bind:disabled="someDynamicCondition">Button 1</button>

      <!-- shorthand -->
      <button :disabled="someDynamicCondition">Button 2</button>
    </div>

  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0/vue.min.js"></script>

  <script>
    var vm = new Vue({
      el: '#app',
      data:{
        greeting: true,
        greeting2: false,
        url: 'https://5xruby.tw',
        conds: '1'
      },
      computed:{
        someDynamicCondition: function(){
          return this.conds === '0';
        }
      }
    });
  </script>


</body>
</html>