@import "compass/reset";

#vue-app{
  display: block;
  width: 980px;
}

thead th{
  font-weight: 900;
}

.panel{
  width: 780px; margin: 1em;
}

.number{
  width: 5%;
}

.status{
  width: 18%;
}

pre{
  margin: 1em; font-size: 18px;
  width: 600px; line-height: 40px;
}