<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue compilation scope with slot</title>
  <style>
    #app { background-color: #eee; padding: .5em;  font-size: 30px; border: 1px solid #000;}
    #app div{ margin: 1em 0;  }
  </style>
</head>
<body>

  <template id="child-template">
    <div>
      <h1>{{ msg }}</h1>
      <slot> 洞洞洞 洞洞洞 </slot>
    </div>
  </template>

  <div id="app">
    <child>
      <p> {{ msg }} </p>
    </child>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
  <script>

  // children component
  Vue.component('child', {
    template: '#child-template',
    data: function () {
      return {
        msg: 'I\'m child.'
      };
    }
  });

  // parent component
  var parent = new Vue({
    el: '#app',
    data: {
      msg: 'I\'m parent.'
    }
  });

  </script>


</body>
</html>