<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue compilation scope with slot</title>
  <style>
    #app { padding: .5em;  font-size: 30px; }
    #app div{ margin: 1em 0;  }
  </style>
</head>
<body>

    <template id="child-template">
      <div>
        <h1>{{ msg }}</h1>
        <slot> Default Slot Content </slot>
      </div>
    </template>

    <div id="app">
      <child>
        <p>This "msg" is from parent: {{ msg }}</p>
      </child>
    </div>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0/vue.min.js"></script>
  <script>

  // children component
  Vue.component('child', {
    template: '#child-template',
    data: function () {
      return {
        msg: 'I\'m child.'
      };
    }
  });

  // parent component
  var parent = new Vue({
    el: '#app',
    data: {
      msg: 'I\'m parent.'
    }
  });

  </script>


</body>
</html>