<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue my component</title>
  <style>
    #app div{ margin: 1em 0;  }
  </style>
</head>
<body>

  <div id="example">
    <my-component></my-component>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0-rc.1/vue.min.js"></script>
  <script>

    // register
    Vue.component('my-component', {
      template: '<div>A custom component!</div>'
    });

    // create a root instance
    new Vue({
      el: '#example'
    })

  </script>


</body>
</html>