<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue props</title>
  <style>
    #app div{ margin: 1em 0;  }
  </style>
</head>
<body>

  <div id="app">
    <child message="hello!"></child>

    <child message="hi!"></child>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0/vue.min.js"></script>
  <script>

    Vue.component('child', {
      props: ['message'],
      template: '<H1>{{ message }}</H1>'
    });

    var vm = new Vue({
      el: '#app'
    });

  </script>


</body>
</html>