<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue props</title>
  <style>
    #app { padding: .5em;  font-size: 30px; }
    #app div{ margin: 1em 0;  }
  </style>
</head>
<body>

  <div id="app">
    <child message="Hello!"></child>
    <hr>
    <child :message="hi"></child>
    <hr>
    <child message="12345"></child>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
  <script>

    Vue.component('child', {
      props: ["message"],
      template: '<H1>{{ message }}</H1>',
      data: function(){
        return {
        }
      }
    });

    var vm = new Vue({
      el: '#app',
      data: {
        hi: "HAHA"
      }
    });

  </script>


</body>
</html>