<!DOCTYPE html>
<html>
<head>
  <title>Lab 04: Events</title>
  <style type="text/css">
  .talk{
    display: block; width: 500px; height: 300px; border: 1px solid #aaa;
    padding: 1em; overflow-y: scroll; margin-bottom: 1em; line-height: 1.5;
  }
  .msg:before{
    content: '訊息: ';
  }

  input{
    width: 400px; border: 1px solid #aaa; margin-right: 1em;
    padding: 5px;
  }
  </style>
</head>
<body>

  <div id="app">

    <div class="talk">
      <div v-for="m in msgLists" class="msg">{{ m }}</div>
    </div>
    <input v-model="msg" type="text" @keyup.enter="sendMsg">
    <button @click="sendMsg">送出</button>

  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
  <script>

    var vm = new Vue({
      el: '#app',
      data:{
        msg: '',
        msgLists: []
      },
      methods: {
        sendMsg(){
          if( this.msg !== '' ){
            this.msgLists.push( this.msg );
            this.msg = '';
          }
        }
      }
    });

  </script>
</body>
</html>