<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <title>Vue v-if</title>
  <style>
    #app div{ margin: 1em 0; }
  </style>
</head>
<body>

  <div id="app">

    <h1 v-if="ok">Yes</h1>

    <h1 v-if="ok2">Yes</h1>
    <h1 v-else>No</h1>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0/vue.min.js"></script>
  <script>

    var vm = new Vue({
      el: '#app',
      data: {
        ok: true,
        ok2: false
      }
    });

  </script>


</body>
</html>